
html{
  height: 100%;
 /* filter: invert(1) hue-rotate(180deg);*/
}
body{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/*_____________________________________*/
/*  MAIN SECTION WITH IMAGE AND TITLE  */
/*_____________________________________*/
main{
  background:url(/Assets/images/facebook_1606669704314_6738861167484285118-01-01.jpeg);
  -webkit-background-size: cover;
  background-size: cover;
  height:105vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--clr-text);
  font-size: 28px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px black;
  position: relative;
  background-position:15px 0;
  margin-top: -20px;
  filter: contrast(var(--flt-cntrst));

}
.content{
  margin: 0 var(--mgn-left) 1rem;
  position: relative;
  font-family: 'Abril Fatface', cursive;

}
.content h1{
  opacity: 0.9;
  
}
.content::before{
  content: "";
  position: absolute;
  top: 12%;
  bottom: 10%;
  left: -20%;
  right: 109%;
  background:var(--clr-primary-grey);
  
}
.dark{
  color: var(--clr-primary-grey);
    text-shadow: 1px 1px 3px gold;

}

.btn-links{
  text-decoration:none;
  color: gold;
  transition: color 150ms ease;
  padding: 10px 30px;

}
.buttons{
  margin:1rem var(--mgn-left);
  filter: drop-shadow(0 0 2px gold);

}
.btns{
  background:  var(--clr-primary-grey);
  border-radius:5px;
  border: 1px solid gold;
  padding: 1em .1rem;
  user-select: none;
opacity: 0;
}

.btns:focus-within{
    filter: contrast(150%);
    background: var(--clr-primary-orange);
      filter:contrast(150%)  drop-shadow(0 0 5px gold);
      color: var(--clr-primary-grey);
        animation: btn-scale 150ms cubic-bezier(.94,.56,.74,1.34) ;
}
.btns:hover{
  filter: contrast(150%);
  background: var(--clr-primary-orange);
  filter:contrast(150%) drop-shadow(0 0 5px gold);
  color: var(--clr-primary-grey);filter: contrast(150%);
  background: var(--clr-primary-orange);
  filter:contrast(150%) drop-shadow(0 0 5px gold);
  color: var(--clr-primary-grey);
}

.btns:focus-within .btn-links{
    color: var(--clr-primary-grey);
    text-shadow: 0 0 1.5px var(--clr-primary-grey);
    cursor: pointer;
}
.btn-link-1{
  padding:1em 3rem ;
}
.btn-1{
    padding: 1em 0.9rem;
  
    
}

.temp{
  position: absolute;
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
    background:linear-gradient(135deg,#FF9100E8,#9D6307 45%,transparent 45%);
}
/*____________________________________*/
/*      ANIMATION CLASSES FOR JS      */
/*____________________________________*/

@keyframes btn-scale {
  0%{
    transform:scale(1);
  }
  50%{
        transform:scale(1.1);

  }
  100%{
            transform:scale(1);

  }
}

/*____________________________________*/
/*         MOBILE MEDIA QUERY         */
/*____________________________________*/


@media (max-width: 767.98px)
{
/*____________________________________*/
/*   RESETTING THE MAIN FOR MOBILE    */
/*____________________________________*/

main {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position:-275px -30px;
  -webkit-background-size: 250%;
  background-size:250%;
  background-repeat: no-repeat;
}
.content{
  margin-left: var(--mgn-mobile-left);
  margin-top: 10rem;
font-size:20px;
width: 80vw;
  
}
.buttons {
  margin-left: var(--mgn-mobile-left);
  margin-top: 0;
}
.temp{
      background:linear-gradient(10deg,#FF9100E8 10%,transparent 10%,transparent 18%,#FF9100E8 18%,#9D6307 55%,transparent 55%,transparent 87%,#FF9100D2 87%,#FF9100D2 100%,transparent 100%);

}
.btns{
    border-radius: 10px;
    font-size: 12px;

}
.btn-1{
  margin-bottom: .3rem;
}
/*____________________________________*/
/*DIFFERENT ANIMATION CLASS FOR MOBILE*/
/*____________________________________*/


}
@media (max-width: 767.98px) and (orientation:landscape){
     .logo-mobile::after{
       display: none;
     }
     .logo::after{
       display: none;
     }
     .logo-mobile{
         padding: .5em 2px;
         background:var(--clr-primary-orange);
         margin-top: 10px;
         border-radius: 10000px;
                 width: 15vw;

     }
     .main{
       background-position: center;
       -webkit-background-size: 100%;
       background-size: 50%;
     }
     .content{
       margin-top: 0;
     }
     .content::before{
       right: 105%;
     }
  
}
